/* body */
body{
    margin: 0;
    padding: 0;
    color: #fff;background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
}

/*Seleccionando el div que contiene todo lo que está en el body*/
.contenedor-0{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 80px 500px 50px;
    
}

/* seleccionando el contenedor del header */
.contenedor-1{
    border: 5px solid #09a;
    display: grid;
    margin: 5px;
    overflow: hidden;
    grid-column: 1 / span 12;
}    

/* seleccionando el nav-bar del header*/

.nav-bar{
    background-color: #444;
    padding: 10px;
    margin: 5px;
}

/* seleccionando las imágenes del header */
.edit-img-1{
    width: 100%;
}

/* fin de la cabecera de página*/


/* seleccionando el main*/
.contenedor-2{
    overflow: hidden;
    grid-column: 5 / span 8;
    grid-row: 2 / span 3;
    grid-gap: 10px;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
/* seleccionando todos los artículos */
.contenido-2{
    border: 5px solid #09a;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    padding:10px;
    justify-items: start;
    animation-name: desplazamiento ;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* animaciones */
@keyframes desplazamiento{
    from{
        bottom:0;
    }
    to{
        bottom: 300px;
    }
}
/* seleccionando imágenes de artículos */
.img-1{
    max-width: 100%;
    grid-column: 2;
    justify-items: end;
}

/* ajustando el tamaño de la página dependiendo del tamaño del dispositivo */
@media (max-width: 600px) {
    .contenido-2 {
      grid-template-columns: 1fr; /* Cambia a una columna */
      grid-template-rows: auto auto; /* Ajusta las filas automáticamente */
    }
  
    .img-1 {
      grid-column: 1; /* Coloca la imagen en la primera columna */
      justify-self: start; /* Alinea la imagen a la izquierda */
    }
  }
/*Fin del cuerpo de la página*/



/* seleccionando el section de la página */
.contenedor-3{
    border: 4px solid #09a;
    padding: 10px;
    grid-column: 1 / span 4;
    grid-gap: 5px;
    display: grid;
}
.contenido-3{
    border: 4px solid #00f;
    display: grid;
    justify-items: center;
    align-items: center;
}
.buttom{

}
/*Seleccionando el footer de la página*/
.contenedor-4{  
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1 / span 12;
    grid-row: 3 / span 1;
    opacity: .4;
    padding: 20px;
}
.contenido-4{
    padding: 15px;
    border-top: 1px solid #fff;

}

/*Fin del pie de la página*/


