/* body */
body{
    margin: 0;
    padding: 0;
    color: #fff;background: linear-gradient(to right, rgb(75, 121, 161), rgb(40, 62, 81));
}

/*Seleccionando el div que contiene todo lo que está en el body*/
.contenedor-0{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,300px);
    
}

/* seleccionando el contenedor del header */
.contenedor-1{
    border: 5px solid #09a;
    display: grid;
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    grid-column: 1 / span 12;
}    

/* seleccionando el nav-bar del header*/

.nav-bar{
    background-color: #444;
    padding: 10px;
    margin: 5px;
}

.edit-img-1{
    width: 100%;
}

/* fin de la cabecera de página*/


/* seleccionando el main*/
.contenedor-2{
    overflow: hidden;
    grid-column: 1 / span 7;
    padding: 10px;
    grid-row: 2 / span 3;
    grid-gap: 10px;
    display: grid;
}
/* seleccionando todos los artículos */
.contenido-2{
    border: 5px solid #09a;
}


/* seleccionando imágenes de artículos */
.img-1{
   width: 200px;

}
/*Fin del cuerpo de la página*/

/*Seleccionando el aside de la página*/
.contenedor-3{
    border: 5px solid #09a;
    overflow: hidden;
    grid-column: 9 / span 4;
    grid-row: 2 / span 3;
}
/*seleccionando la imagen del aside*/
aside > img {
    width: 200px;
}

/* fin del aside */

/*Seleccionando el footer de la página*/
.contenedor-4{  
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1 / span 12;
    grid-row: 10 / span 1;
    opacity: .4;
    border-top: 1px solid #fff;
}
.contenido-4{
    padding: 15px;
}

/*Fin del pie de la página*/


