.border1 {
  width: 1300px;
  height: 450px;
  padding: 20px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}

.contSlider {
  width: 100%;
  max-width: 900px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0 0 10px rgb(95, 92, 92), 0 15px 50px;
}

.slider {
  display: flex;
  height: 400px;
  width: 400%;
  margin-left: -100%;
}

.sliderImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sliderSection {
  width: 100%;
}

.btnSlider {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(248, 246, 246, 0.587);
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  font-family: monospace;
}

.transicion {
  transition: all 0.5;
  -webkit-transition: all 0.5;
  -moz-transition: all 0.5;
  -ms-transition: all 0.5;
  -o-transition: all 0.5;
}

.btnSlider:hover {
  background: rgb(161, 28, 28);
}

.sliderBtnRight {
  right: 150px;
}
.sliderBtnLeft {
  left: 150px;
}
